# Ignore virtual environment
samsyn_sen202_env/

# Ignore Python cache folders
__pycache__/

# Ignore compiled Python files
*.pyc

# Ignore SQLite database file
db.sqlite3

# Ignore environment variable files
.env
